* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--font-clr: #0e250e;
	--prim-clr: #36229a;
	--prim-clr-alt: #2e1c86;
}
body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	color: var(--font-clr);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

ul,
li {
	list-style-type: none;
}

li {
	line-height: 2;
}

.title {
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1,
h2 {
	margin: 0.8em;
}

/* form  */

form {
	padding: 2em 0.5em;
}
.form-control {
	display: flex;
	flex-direction: column;
	position: relative;
	margin-top: 1rem;
	margin-bottom: 1rem;
	min-width: 290px;
}

input[type='text'],
input[type='date'],
input[type='number'],
input[type='search'] {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #c5c9cd;
	border-radius: 0;
	outline: none;
	height: 3rem;
	width: 100%;
	font-size: 16px;
	margin: 0 0 8px 0;
	padding: 0;
	max-width: 6em;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-transition: border 0.3s, -webkit-box-shadow 0.3s;
	transition: border 0.3s, -webkit-box-shadow 0.3s;
	transition: box-shadow 0.3s, border 0.3s;
	transition: box-shadow 0.3s, border 0.3s, -webkit-box-shadow 0.3s;
}

input[type='text']:focus,
input[type='date']:focus,
input[type='number']:focus,
input[type='search']:focus {
	border-bottom: 1px solid var(--prim-clr);
	box-shadow: 0 1px 0 0 var(--prim-clr-alt);
	-webkit-box-shadow: 0 1px 0 0 var(--prim-clr-alt);
}

input[type='text']:focus + label,
input[type='date']:focus + label,
input[type='number']:focus + label,
input[type='search']:focus + label {
	color: var(--prim-clr);
}
/* .form-control .active {
	-webkit-transform: translateY(-14px) scale(0.8);
	transform: translateY(-14px) scale(0.8);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
} */

.form-control > label {
	color: #565261;
	font-size: 1rem;
	cursor: text;
	text-align: initial;
	min-width: 260px;
}

.select-cont {
	position: relative;
	cursor: pointer;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #9e9e9e;
	outline: none;
	height: 3rem;
	line-height: 3rem;
	width: 100%;
	font-size: 16px;
	margin: 0 0 8px 0;
	padding: 0;
	display: block;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 1;
}

.btn {
	text-decoration: none;
	color: #fff;
	background-color: var(--prim-clr);
	text-align: center;
	letter-spacing: 0.5px;
	-webkit-transition: background-color 0.3s ease-out;
	z-index: 1;
	transition: background-color 0.3s ease-out;
	cursor: pointer;
	border: none;
	border-radius: 2px;
	display: inline-block;
	height: 36px;
	line-height: 36px;
	padding: 0 26px;
	margin: auto;
	display: block;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
		0 4px 2px -3px rgba(0, 0, 0, 0.15), 0 1px 5px 0 rgba(0, 0, 0, 0.3);
}

.btn:hover {
	background-color: var(--prim-clr-alt);
}

.address {
	margin: 10px 0 30px 0;
	padding: 10px;
	border-color: #9e9e9e1c;
}

.error {
	color: red;
}

.table-container {
	position: relative;
	outline: 0px;
	margin: 0 auto 1em auto;
	padding: 0.8em;
	border: 1px solid #36229a31;
	border-radius: 3px;
	width: 100%;
	max-width: 1080px;
	background: rgba(173, 160, 238, 0.052);
	background: linear-gradient(
		56deg,
		rgba(207, 203, 226, 0.052) 0%,
		rgba(176, 190, 213, 0.267) 100%
	);
}

.table-viewer {
	width: 100%;
	overflow-x: auto;
	margin: auto;
}

table {
	display: table;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	max-width: 1080px;
	margin: auto;
}

thead {
	display: table-header-group;
}

tbody {
	display: table-row-group;
}

th {
	transition: all 250ms ease-in-out;
	color: #0f1b0f;
	cursor: pointer;
	font-size: 0.75rem;
	line-height: 1.5rem;
	letter-spacing: 0.01071em;
	vertical-align: inherit;
	text-align: center;
	padding: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #e7e5e562;
	border-right: 1px solid rgba(199, 199, 199, 0.2);
	width: 110px;
	gap: 4px;
}

tr {
	display: flex;
	vertical-align: middle;
	outline: 0;
	justify-content: space-between;
	border-bottom: 1px solid #69686857;
	transition: all 320ms;
}
tr:nth-child(even) {
	background: #d2d2d249;
}
tr:nth-child(odd) {
	background: #9797972b;
}

td {
	width: 110px;
	text-align: center;
	padding: 6px 16px;
	border-right: 1px solid rgba(199, 199, 199, 0.1);
	font-size: 0.75rem;
}

th:hover {
	color: var(--prim-clr);
}

tr:hover:not(.table-headers) {
	background-color: var(--font-clr);
	color: white;
}

.active-data {
	background-color: #36229a24;
}

.search-container {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.search-control {
	display: flex;
	align-items: center;
}

.search-label {
	height: 2em;
	margin-right: 0.5em;
	display: flex;
	align-items: center;
}
.search-control input[type='text'] {
	height: 2em;
}

.pagination-container {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	max-width: 250px;
	margin: auto;
	padding: 1em;
}

.pagination-container button {
	text-decoration: none;
	background-color: transparent;
	text-align: center;
	letter-spacing: 0.5px;
	-webkit-transition: background-color 0.3s ease-out;
	z-index: 1;
	transition: background-color 0.3s ease-out;
	cursor: pointer;
	border: none;
	border-radius: 2px;
	display: inline-block;
	height: 26px;
	line-height: 26px;
	padding: 0 14px;
	margin: auto;
	display: block;
	background-color: rgba(128, 128, 128, 0.229);
}

.pagination-container button:hover {
	background-color: rgba(128, 128, 128, 0.39);
}

.pagination-container .active-page {
	background-color: var(--prim-clr);
	color: white;
}

.legend-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	padding: 0 0.9em;
}

.entries-legend {
	display: flex;
	min-width: 150px;
	align-items: center;
}

.entries-legend select {
	height: 2em;
	margin: 0 0.4em;
}
